<p id="notice"><%= notice %></p>

<h1>Foods</h1>
<p> Currently logged in: <%= current_user.full_name %> </p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type of dish</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fat</th>
      <th>Description</th>
      <th>Serving size and ingredients</th>
      <%# <th>User</th> %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.type_of_dish %></td>
        <td><%= food.calories %></td>
        <td><%= food.protein %></td>
        <td><%= food.carbs %></td>
        <td><%= food.fat %></td>
        <td><%= food.description %></td>
        <td><%= food.serving_size_and_ingredients %></td>
        
        <%
=begin %>
        (<td><%= food.user %></td>)
        <%
=end %>
      

        <% if current_user.id == food.user_id%>
            <td><%= link_to 'Show', food %></td>
            <td><%= link_to 'Edit', edit_food_path(food) %></td>
            <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
            <td><%= link_to 'Show', food %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'create new food', new_food_path %>
<%= link_to 'log out', destroy_user_session_path, method: :delete%>
